@import "tailwindcss";

@theme {
  --color-background: #001021;
  --color-surface: rgba(0,0,0,.2);
  --color-border: rgba(0,0,0,.3);
  --color-text-primary: #ffffff;
  --color-text-secondary: #78716C;
  --color-accent: #BAFF46;
  --color-accent-light: rgba(0,0,0,.1);
  --color-error: #B91C1C;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

.text-contrast{
 color: contrast-color(var(--color-background));

 &.bg-accent{
  color: contrast-color(var(--color-accent));
 }
}